*{
    margin: 0;
    padding: 0;
}

.greed{
    display: grid;
    grid-template-columns:repeat(3, 1fr)  ;
    text-align: center;
    
    
}
.grds{
    
    align-items: center;
    margin: 20px;
    background: green;
}
/* .greeds{
    display: grid;
} */